@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: black;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* nav và hiệu ứng gạch chân */
.navbar a {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: " ";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  bottom: -6px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(10px);
}

.navbar a:hover::after {
  transform: translateY(0);
  transition: transform 0.3s ease;
  opacity: 1;
}

/* ===========================search-form=================================== */
.search-form {
  width: 250px;
  height: 40px;
  background: transparent;
  border-radius: 6px;
  border: solid 2px #fff;
  display: flex;
  align-items: center;
}
.search-form input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font: 16px;
  padding-left: 9px;
}
.search-form input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.search-form button {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.search-form button i {
  color: #fff;
  font-size: 20px;
}
/* ===========================backgroud=================================== */
.background {
  width: 100%;
  height: 100vh;
  background: url(../image/background.jpg) no-repeat; /*Hình nền/ */
  background-size: cover; /* Đổ đầy*/
  background-position: center; /* Căn giữa */
  filter: blur(5px); /* Làm mờ hình nền */
  z-index: -1;
}

/* ===========================container=================================== */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 560px;
  background: url(../image/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-top: 20px;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  /* background-color: green; */
  padding: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
}

.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  /* background-color: #a73434; */
  overflow: hidden; /* Ẩn phần thừa */
}

/* ===========================content=================================== */
.content .logo {
  font-size: 30px;
}
.text-1 h2 {
  font-size: 40px;
  line-height: 1;
}
.text-1 h2 span {
  font-size: 25px;
}
.text-1 p {
  font-size: 16px;
  margin: 20px 0;
}

.social-icons a i {
  color: #fff;
  font-size: 25px;
  margin-right: 20px;
  transition: all 0.3s ease; /* Thêm hiệu ứng mượt */
}

.social-icons a i:hover {
  color: #d42424;
  transform: scale(1.2); /* Phóng to icon khi hover */
}

.logreg-box .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #fdeded;
}

/* =============================java-script======================= */
.logreg-box .form-box.login {
  transform: translateX(0);
  transition: transform 0.5s ease; /* Thêm hiệu ứng mượt */
  transition-delay: 0.5s; /* Đợi 0.7 giây trước khi chuyển đổi */
}
.logreg-box.active .form-box.login {
  transform: translateX(600px);
  transition-delay: 0s; /* Đợi 0 giây trước khi chuyển đổi */
}

.logreg-box .form-box.register {
  transform: translateX(600px);
  transition: transform 0.5s ease; /* Thêm hiệu ứng mượt */
}

.logreg-box.active .form-box.register {
  transform: translateX(0);
  transition-delay: 0.5s; /* Đợi 0.7 giây trước khi chuyển đổi */
}
/* =============================java-script======================= */
.form-box h2 {
  font-size: 30px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff; /* Màu chữ trắng */
  font-size: 16px;
  padding-right: 30px; /* pcách icon một khoảng tránh nhập quá dài  */
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s ease;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  left: 0;
  font-size: 10px;
  font-weight: 700;
}

.input-box .icon {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 20px;
}

.form-box .remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -15px 0 15px;
  font-size: 14px;
}

.remember-forgot label input {
  accent-color: #fff; /* Màu sắc của checkbox */
  margin-right: 5px; /* Khoảng cách giữa checkbox và chữ */
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}

.btn {
  width: 100%;
  height: 50px;
  background: #da0a0a;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease; /* Hiệu ứng mượt */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Bóng mặc định */
}

.btn:hover {
  transform: scale(1.05); /* Phóng to nhẹ */
  box-shadow: 0 0 15px rgba(218, 10, 10, 0.7); /* Thêm bóng sáng hơn */
  background: #c51d1d; /* Đổi màu nền khi hover */
}

.form-box .login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.login-register p a:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}

/* ===========================media query=================================== */
